html {
  font-size: 16px;
  font-family: "Poppins", serif;
  color: hsl(0, 0%, 75%);
  font-weight: 500;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(257, 27%, 26%);
  font-weight: 700;
  text-align: center;
}

header nav {
  padding: 25px;
}

/* generic button */
.styled-button {
  background-color: hsl(180, 66%, 49%);
  padding: 15px 30px;
  color: #fff;
  font-size: 1.2rem;
}

/* button rounded corners */
.rounded-button {
  border-radius: 42px;
}

.squared-button {
  border-radius: 8px;
}

button.styled-button {
  border: none;
}

/* Desktop Header */
#navigation-header-desktop {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 0.9rem;
  display: none;
}

#navigation-header-desktop a {
  flex-grow: 2;
  height: auto;
}

#navigation-header-desktop a img {
  vertical-align: middle;
}

#navigation-header-desktop ul {
  display: inline-block;
  padding-left: 0;
}

#navigation-header-desktop li {
  display: inline-block;
}

#main-links {
  flex-grow: 6;
}

#main-links li {
  display: inline-block;
  margin-right: 15px;
}

#cta-links {
  flex-grow: 4;
  text-align: right;
}

#cta-links li:first-child {
  margin-right: 30px;
}

/* Mobile Header */
#navigation-header-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#navigation-header-mobile a img {
  vertical-align: middle;
}

#navigation-header-mobile button {
  width: 30px;
  padding: 0;
  border: none;
  height: fit-content;
  background-color: transparent;
}

#navigation-header-mobile .hamburger-menu-line {
  height: 4px;
  background-color: hsl(0, 0%, 75%);
  margin-bottom: 7px;
}

#navigation-header-mobile .hamburger-menu-line:last-child {
  margin-bottom: 0;
}

#hero {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  padding-bottom: 160px;
}

#hero article {
  margin: 10px 25px;
  width: 100%;
}

#hero #hero-image {
  width: 100%;
  height: calc(135px + 40vw);
  background-image: url("../images/illustration-working.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 30px;
}

#hero h1 {
  font-size: 2.8rem;
  margin: 10px 0;
}

#hero article p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 18px;
}

article#url-input-container {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: hsl(257, 7%, 63%);
  background-image: url("../images/bg-shorten-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  bottom: -80px;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 8px;
  z-index: 100;
}

#hero #url-input-container input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

#hero #url-input-container input::placeholder {
  font-size: 1.2rem;
}

#hero #url-input-container button {
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
}

#features-container {
  position: relative;
  background-color: #f3f3f3;
  padding-top: 140px;
  padding: 140px 25px 25px;
  z-index: 20;
}

#features-container #feature-header-container {
  margin-bottom: 80px;
}

#features-container h3 {
  font-size: 1.2rem;
}

#features-container p {
  font-size: 1.1rem;
}

#features-container section p {
  text-align: center;
}

#features-container #feature-card-container #background-line {
  position: absolute;
  width: 5px;
  height: calc(100% - 450px);
  background-color: hsl(180, 66%, 49%);
  left: 50%;
  transform: translateX(-50%);
}

#features-container .feature-card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 70px 30px 25px;
  margin-bottom: 70px;
}

#features-container .feature-card:last-child {
  margin: 0;
}


#features-container .feature-card p {
  font-size: 0.9rem;
  text-align: center;
}

#features-container .feature-card .icon-circle {
  position: absolute;
  top: -40px;
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
  width: 60px;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

/* Media Queries */
@media screen and (min-width: 678px) {
  #hero #hero-image {
    background-position: 50%;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1440px) {

}
